.blox-alternating-classic-pointer-timeline * { 
	margin: 0; 
	padding: 0; 
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box; 
	box-sizing: border-box; 
}
.blox-alternating-classic-pointer-timeline{
	font-family: inherit;
	font-size:14px;
	color:#333333;
	padding:0px 20px;
	margin:0px;
	list-style:none;
	text-align:left;
	}

.blox-alternating-classic-pointer-timeline li{
	position:relative;
	padding:20px 0 0px 0;
	margin:0px 50% 0 0;
	}
	
.blox-alternating-classic-pointer-timeline li:nth-child(2n){
	margin:0 0 0 50%;
	}
	
.blox-alternating-classic-pointer-timeline li:nth-child(2n) .blox-wrapper{
	margin:0 0px 0 40px;
	}
	
.blox-alternating-classic-pointer-timeline li:nth-child(2n) .blox-dote{
	right:auto;
	left:-41px;
	margin-left:-7px;
	}
	
.blox-alternating-classic-pointer-timeline li:nth-child(2n) .blox-wrapper:before{
	right:auto;
	left:-9px;
	}
	
.blox-alternating-classic-pointer-timeline li:nth-child(2n):before{
	right:auto;
	left:0px;
	}					
	
.blox-alternating-classic-pointer-timeline li ul{
	list-style:none;
	margin:10px 0 0 0;
	}	

.blox-alternating-classic-pointer-timeline li ul li:before{
	display:none;
	}	
	
.blox-alternating-classic-pointer-timeline li:last-child::before{
	height:81%;
	}	
	
.blox-alternating-classic-pointer-timeline li ul li{
	margin:0;
	padding:4px 0 4px 0;
	}	
	
.blox-alternating-classic-pointer-timeline li:before{
	position:absolute;
	right:-1px;
	top:22px;
	content:'';
	height:100%;
	border-left:#D5D5D5 1px solid;
	}
	
.blox-alternating-classic-pointer-timeline li .blox-wrapper{
	padding:20px 24px 20px 28px;
	margin:0 40px 0 0px;
	position:relative;
	}
	
.blox-alternating-classic-pointer-timeline li .blox-wrapper:before{
	display:block;
	content:'';
	}	

.blox-alternating-classic-pointer-timeline .blox-dote{
	position:absolute;
	width:16px;
	height:16px;
	right:-41px;
	top:21px;
	margin:0px -7px 0px 0px;
	display:block;
	border-radius:50%;
	}

	
.blox-alternating-classic-pointer-timeline .blox-content{
	font-size:14px;
	line-height:19px;
	}
.blox-alternating-classic-pointer-timeline .blox-heading{
	font-size:18px;
	font-weight:bold;
	margin:0 0 12px 0;
	} 	
	
.blox-alternating-classic-pointer-timeline li .blox-wrapper:before{
	width:20px;
	height:20px;
	display:block;
	content:'';
	transform: rotate(-45deg);
	position:absolute;
	right:-9px;
	top:20px;
	background-color:inherit;
	}
	
@media screen and (max-width: 767px){
	.blox-alternating-classic-pointer-timeline li{ padding:65px 0 0 0;}
	.blox-alternating-classic-pointer-timeline li,.blox-alternating-classic-pointer-timeline li:nth-child(2n){ margin:0;}
	
	
	.blox-alternating-classic-pointer-timeline li .blox-dote,
	.blox-alternating-classic-pointer-timeline li:nth-child(2n) .blox-dote{ right:auto; left:50%; margin-left:-7px; top:-45px;}
	.blox-alternating-classic-pointer-timeline li:before,
	.blox-alternating-classic-pointer-timeline li:nth-child(2n):before{ right:auto; left:50%; top:0;}
	.blox-alternating-classic-pointer-timeline li .blox-wrapper,
	.blox-alternating-classic-pointer-timeline li:nth-child(2n) .blox-wrapper{ margin:0;}
	.blox-alternating-classic-pointer-timeline li .blox-wrapper:before,
	.blox-alternating-classic-pointer-timeline li:nth-child(2n) .blox-wrapper:before{left:50%; top:-10px; right:auto; margin-left:-10px;}
	}		
	

	